<ion-header class="ion-no-border">
  <ion-toolbar class="padding-left-10">
    <ion-label class="header-title" slot="start">Hello, Hafiz</ion-label>
    <ion-avatar slot="end">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </ion-toolbar>
  <ion-toolbar class="padding-top-15 padding-left-10">
    <ion-item lines="none" class="searchbar">
      <ion-icon name="search-sharp" color="medium" slot="start"></ion-icon>
      <ion-label>Type to search for recipes ...</ion-label>
      <ion-icon  name="options-outline" slot="icon-only" class="options-icon" color="medium"></ion-icon>
    </ion-item>
  </ion-toolbar>
  <ion-toolbar>
    <ion-slides [options]="slideCategoryOptions" class="category-slides-container">
      <ion-slide *ngFor="let item of itemCategory; let index = index" (click)="changeOnSelectedCategory(index)">
        <div class="category-box" [ngClass]="{'category-selected': item.selected}">
          <label>{{item.category}}</label>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="padding-left-15 margin-top-15 margin-bottom-15">
    <ion-label class="content-title">Your Recipes</ion-label>
  </div>
  <ion-slides [options]="slideMenuOptions" class="recipe-slides-container">
    <ion-slide *ngFor="let recipe of recipeList" routerLink="/recipe-details">
      <ion-card>
        <div class="food-img">
          <img [src]="recipe.imgSource"/>
        </div>
        <div class="text-on-img">
          <ion-label color="primary">Matched: {{recipe.noOfAvailIngrendients}}/{{recipe.totalIngredients}}</ion-label>
        </div>
        <ion-item lines="none" >
          <ion-label> 
            <ion-label class="card-title">{{recipe.name}}</ion-label>
            <ion-label class="card-description">{{recipe.cookTime}} min</ion-label>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
