<ion-header class="ion-no-border">
  <ion-toolbar class="header-btn">
    <ion-button fill="clear">
      <ion-icon slot="icon-only" name="search-sharp"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear">
      <ion-icon slot="icon-only" name="cog-sharp" ></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar class="toolbar-left-padding">
    <label class="header-title" slot="start">Pantry</label>
  </ion-toolbar>
  <ion-toolbar>
    <ion-slides [options]="slideOptions" >
      <ion-slide *ngFor="let item of itemCategory; let index = index" (click)="changeOnSelectedCategory(index)">
        <div [ngClass]="{'category-selected': item.selected}">
          <label slot="start">{{item.category}}</label>
          <ion-badge slot="end">{{item.count}}</ion-badge>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" >
  <ion-list>
    <ion-item lines="none" button *ngFor="let item of itemList" routerLink="/home/item-details">
      <ion-icon src="./assets/icon/food-category/{{item.type}}.svg" slot="start"></ion-icon>
      <ion-label>
        <span class="item-header">{{item.name}}</span>
        <p class="item-status">Expiring in {{item.lifespan}} days</p>
      </ion-label>
      <ion-label class="fixed-width" slot="end">
        <h3 slot="end">{{item.amount}} pcs</h3>
        <p class="item-location" slot="end">{{item.location}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
