ion-header { box-shadow: 0px 3px 30px var(--ion-color-light-shade) !important; }

.header-btn {
    ion-button {
        --padding-start: 5px !important;
        ion-icon {
            font-size: 25pt;
            color: var( --ion-color-medium-shade);
        }
    }
}

ion-slide {
    div {
        display: inherit;
        padding: 10px;
        label {    
            font-weight: bold;
            font-size: 11pt;
            color: var(--ion-color-medium-shade);
            margin-right: 0.5rem;
        }
    
        ion-badge {
            color: var(--ion-color-medium-shade);
            --background: var(--ion-color-light-shade);
        }
    }
}

ion-list {
    padding: 15px;

    ion-item {
        border-radius: 10px;
        box-shadow: 0px 6px 17px lightgrey;
        margin-bottom: 0.5rem;

        .item-header {
            font-weight: bold;
            font-size: 14pt;
        }

        .item-status {
            font-weight: bold;
            font-size: 10pt;
            color: var(--ion-color-warning);
        }

        .fixed-width {
            min-width: 20% !important;
            max-width: 20% !important;
        }

        ion-label {
            .item-location {
                font-weight: bold;
                font-size: 10pt;
                color: var(--ion-color-medium-shade);
            }
        }

    }
}


.category-selected {
    border-bottom: var(--ion-color-primary) solid;

    label {
        color: var(--ion-color-primary) !important;
    }

    ion-badge {
        --background: var(--ion-color-primary-tint) !important;
        color: var(--ion-color-primary) !important;
    }
}



