<ion-content [scrollEvents]="true" appHideHeader  [fullscreen]="true">
  <div class="container" >
    <div class="food-img" >
      <img [src]="recipeInfo.imgSrc">
    </div>
    <div class="food-info-card">
      <ion-grid>
        <ion-row class="margin-bottom-5">
          <ion-col>
            <ion-label class="food-info-title margin-bottom-5">{{recipeInfo.name}}</ion-label>
            <ion-label class="food-info-desc">{{recipeInfo.ingredients}} ingredients</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-icon  name="time-outline"></ion-icon>
            <ion-label class="food-info-desc">{{recipeInfo.time}} min</ion-label>
          </ion-col>
          <ion-col>
            <ion-icon name="flame-outline"></ion-icon>
            <ion-label class="food-info-desc">{{recipeInfo.cal}} kCal</ion-label>
          </ion-col>
          <ion-col>
            <ion-icon name="people-circle-outline"></ion-icon>
            <ion-label class="food-info-desc">{{recipeInfo.serve}} serve</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  <div class="top-back-btn">
    <ion-buttons >
      <!-- <ion-icon slot="icon-only" name="chevron-back" ></ion-icon> -->
      <ion-back-button defaultHref="home/recipes-list" icon="chevron-back" text="" color="light"></ion-back-button>
    </ion-buttons>
  </div>
  <div class="top-edit-btn">
    <ion-button>
      <ion-icon slot="icon-only" name="create-outline" ></ion-icon>
    </ion-button>
  </div>
  <div class="padding-left-15 margin-top-20"> 
    <ion-label class="content-title">Ingredients</ion-label>
    <ion-label class="see-all-text">See all {{ingredientList.length}} items</ion-label>
  </div>
  <ion-slides [options]="slideOptions" class="margin-bottom-15">
    <ion-slide *ngFor="let ingredient of ingredientList">
      <ion-card>
        <div class="ingredient-icon margin-bottom-5">
          <ion-icon src="./assets/icon/food-category/{{ingredient.type}}.svg"></ion-icon>
        </div>
        <ion-label class="ingredient-title margin-top">{{ingredient.name}}</ion-label>
        <ion-label class="ingredient-sub-title">{{ingredient.amount}}g</ion-label>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-label class="content-title padding-left-15">Cooking Directions</ion-label>
  <ion-card *ngFor="let direction of cookDirections; let i = index">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-card-title>{{i+1}}</ion-card-title>
          </ion-col>
          <ion-col size="10">{{direction.directions}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="dark">
      Start Cook
    </ion-button>
  </ion-toolbar>
</ion-footer>
