<ion-header class="ion-no-border">
  <ion-toolbar></ion-toolbar>
  <ion-toolbar class="padding-left-15">
    <label class="header-title" slot="start">Your Recipes</label>
  </ion-toolbar>
  <ion-toolbar class="padding-top-15 padding-left-15">
    <ion-item lines="none" class="searchbar">
      <ion-icon name="search-sharp" color="medium" slot="start"></ion-icon>
      <ion-label>Search for recipes ...</ion-label>
    </ion-item>
    <ion-slides [options]="slideOptions" class="margin-top-15">
      <ion-slide *ngFor="let item of itemCategory; let index = index" (click)="changeOnSelectedCategory(index)">
        <div class="category-box" [ngClass]="{'category-selected': item.selected}">
          <label>{{item.category}}</label>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-list>
    <ion-card routerLink="/tabs/items-list">
        <img src="./assets/temp_img/ayam-masak-kicap.JPG"/>
        <h1>Ayam Masak Kicap</h1>
        <ion-label>Ingredients matched: 5/10</ion-label>
    </ion-card>
    <ion-card>
        <img src="./assets/temp_img/portugese-grill.jpg"/>
        <h1>Portugese Grill</h1>
        <ion-label>Ingredients matched: 4/6</ion-label>
    </ion-card>
    <ion-card>
      <img src="./assets/temp_img/portugese-grill.jpg"/>
      <h1>Portugese Grill</h1>
      <ion-label>Ingredients matched: 4/6</ion-label>
  </ion-card>
  <ion-card>
    <img src="./assets/temp_img/portugese-grill.jpg"/>
    <h1>Portugese Grill</h1>
    <ion-label>Ingredients matched: 4/6</ion-label>
</ion-card>
  </ion-list>
</ion-content>
